@media only screen and (min-width: 50em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }


    header{
        display: grid;
        grid-template-columns: 1fr;
    }

    .navigationBar{
        background-color: black;
    }

    nav {
        position: unset;
        width: 100%;
    }

    nav ul {
        flex-direction: row;
    }

    .topBox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }

    .courseList {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr);   
        gap: 10px; 
        width: 100%;
    }

}